.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vh;
    height: 55px;
    background: red;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.button_mas{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid black;
}